{{#if message}}
  <p class="message bg-danger">{{message}} <button {{action 'deleteMessage'}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
{{/if}}
