<ul class="nav navbar-nav menu">
  {{#link-to 'index' tagName="li"}}<a class="home" href="/home">{{t 'navigation.home'}}</a>{{/link-to}}
  {{#link-to 'words' tagName="li"}}<a class="words" href="/words">{{t 'navigation.words'}}</a>{{/link-to}}
  {{#link-to 'quiz' tagName="li"}}<a class="quiz" href="/quiz">{{t 'navigation.quiz'}}</a>{{/link-to}}
</ul>
