<nav class="navbar navbar-default navbar-fixed-top navigation">
  <div class="container">
    {{partial 'partials/navigation/header'}}
    <div id="navbar" class="navbar-collapse collapse">
      {{partial 'partials/navigation/menu'}}
      <ul class="nav navbar-nav navbar-right">
        {{partial 'partials/navigation/language-selector'}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
