<div class="jumbotron">
  <div class="row">
    <h2>Best words</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Language</th>
          <th>Word</th>
          <th>Translation</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="flag-icon flag-icon-es"></span> > <span class="flag-icon flag-icon-de"></span></td>
          <td>Poner</td>
          <td>Put</td>
          <td>11</td>
        </tr>
      </tbody>
    </table>
    <h2>Worst words</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Language</th>
          <th>Word</th>
          <th>Translation</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="flag-icon flag-icon-es"></span> > <span class="flag-icon flag-icon-de"></span></td>
          <td>Almuerzo</td>
          <td>Lunch</td>
          <td>-20</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
